/*charte graphique index*/
footer
{
	background-color:#ffffff;
}

/*scrollUp*/
#scrollUp
{
position: fixed;
bottom : 10px;
margin-left: 95%;
opacity: 0.5;
}
/*fin index*/

@media screen and (max-width : 700px){
    h3{
        font-size:1em;
    }
}
body {
    height: 100%; /* Used to enable scrolling */
    background: linear-gradient(to bottom, #000000 25%,#ffffff 80%);
  }
h2{
    color:rgb(229, 255, 0);
}
body h3{
    color: rgb(229, 255, 0);
    background-color: rgba(0, 0, 0, 0.411);
}
ol li:hover{
    border: 2px rgb(255, 255, 255) solid;
    margin-bottom: 2px;
    cursor:pointer;
}
ol li{
    border:2px rgb(169, 169, 172) solid;
}	
section a:hover{
    cursor:pointer;
}
.carousel-item .carousel-caption{
    display:flex;
    visibility: hidden;
    text-align:right;
    margin-top:42%;
    padding-right:5%;
    height:60%;
    width:100%;
    right:0;
    left:0;

}
.carousel-item:hover > .carousel-caption{
    visibility:visible;
}
.carousel-caption a img{
    bottom:0;
    right:0;
}
.carousel-caption{
        top:0;
}
.carousel-item img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
