body {
	background-color: grey;
	color: white;
}


.background img {
    width: 100%;
    margin-bottom: 10rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 1; 
}

.imgCard {
    width: 300%;
    height: 300%;
    
}

body .imgCard{
	margin-left: auto;
	margin-right: auto;
}

.card { 
   width: 20rem; 
   margin-left: auto;
   margin-right: auto;

}

/* BOUTON */ 


/*.posAbs {
	background-image: url(mapnantesnuit.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 100%;
  height: 100%;


}*/

.emplacement {
    position: relative;
		top: 20rem;
    left: 20rem;
    z-index: 2;
  
}

.emplacement1 {
    position: relative;
    top: -30rem;
    left: 32rem;
    z-index: 2;
}

.emplacement2 {
	position: relative;
    top: -53rem;
    left: 41rem;
    z-index: 2;
}

.emplacement3 {
	position: relative;
    top: -60rem;
		left: 49rem;
    z-index: 2;
}

.spinner-grow {
  width: 7%;
  height: 7%;
} 
