/*charte graphique index*/
footer
{
	background-color:#ffffff;
}

/*scrollUp*/
#scrollUp
{
position: fixed;
bottom : 10px;
margin-left: 95%;
opacity: 0.5;
}
/*fin index*/
body {
    height: 100%; /* Used to enable scrolling */
    background: linear-gradient(to bottom, #000000 25%,#ffffff 85%);
  }
h2{
    color:rgb(229, 255, 0);
}
body h3{
    color: rgb(229, 255, 0);
    background-color: rgba(0, 0, 0, 0.411);
}
ol li:hover{
    border: 2px rgb(229, 255, 0) solid;
    margin-bottom: 2px;
    cursor:pointer;
}
ol li{
    border:2px rgb(230, 250, 117) solid;
}	
