body, html {
    font-family: 'Roboto', Arial, sans-serif;
	}
	
nav {
	height: 5rem;
	font-size: 1.5rem;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

#scrollUp {
	position: fixed;
	bottom : 10px;
	margin-left: 95%;
	opacity: 0.5;
}

h2 {
	margin-top: 3%;
	font-weight: bold;
}