nav {
    background-color: #babebf;
}
footer
{
	background-color:#babebf;
}

body {
    background-color: #6b6a66;
}

h2 {
    margin-top: 3%;
}
.form-inline button{
	color: #6b6a66;
	border-color: #6b6a66;
}
.form-inline button:hover{
	color: black;
	background-color: #babebf;
	border-color: #babebf;
}