nav {
    background-color: #6b6a66;
}
footer
{
	background-color:#6b6a66;
}

body {
    background-color: #babebf;
}
.form-inline button{
	color: #babebf;
	border-color: #babebf;
}
.form-inline button:hover{
	color: black;
	background-color: #babebf;
	border-color: #babebf;
}