body, html {
	font-family: 'Roboto', Arial, sans-serif;
	}
	
nav {
	font-size: 1.5rem;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

.navbar-brand {
	font-size: 2rem;
	font-weight: bold;
}

#scrollUp {
	position: fixed;
	bottom : 10px;
	margin-left: 95%;
	opacity: 0.5;
}

h2, h1 {
	margin-top: 3%;
	font-weight: bold;
	text-align: center;
}
.navbar-collapse{
	z-index:10000;
}


